body
{
    margin-left:10%;
    margin-right:10%;
}
img
{
    margin-top: 20px;
}
.textarea
{
    font-size: 90%;
}
strong
{
    font-size: 100%;
    font-weight: bold;
}
button{
text-align: center;
margin-left: 45%;
 width:100px;
       padding:4%;
       border-radius: 10%;
      

}

/*button{
    margin-left: 500px;
    width: 10%;
    padding: 5%;
}
    @media only screen and (max-width:700px){
 button{

 margin:20%;
    padding: 5%;
    text-align: center;
 }
    }
   
   button{
      

   }
   button:hover
   {

   }*/